* {
    margin: 0;
    border: 0;
}

/*
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
*/

h1 {
    background-color: yellow;
    width: 100%;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    display: block;
}

nav {
    background-color: turquoise;
    margin-bottom: 1rem;
    padding: 1rem;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

main {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: #ABCDEF;
    
}

footer {
    background-color: #456321;
}

footer .content {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

footer .content .box {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}